<!--    载入静态文件-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>会员充值</title>
</head>
<body>
        <div class="page-body">
            <div class="container-xl">
                <div class="row row-deck row-cards">
                    <br>
                    <!-- 充值的表单 -->
                    <form method="post" action=".">
                        <!-- Django中需要POST数据的地方都必须有csrf_token -->
                        {% csrf_token %}
                        <div class="form-group">
                            <!-- 标签 -->
                            <label for="title">车牌号</label>
                            <!-- 文本框 -->
                            <input type="text" class="form-control" id="carnum" name="carnum">
                        </div>
                        <!-- 充值套餐 -->
                        <div class="form-group">
                            <label for="body">充值天数</label>
                            <!-- 文本区域 -->
                            <input type="text" class="form-control" id="chargedays" name="chargedays" rows="6">
                        </div>
                        <!-- 提交按钮 -->
                        <button type="submit" class="btn btn-primary">提交充值</button>
                    </form>
                </div>
            </div>
        </div>

    {#<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->#}
    {#<script src="https://code.jquery.com/jquery.js"></script>#}
    {#<!-- jQuery UI -->#}
    {#<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>#}
    {#<!-- Include all compiled plugins (below), or include individual files as needed -->#}
    {#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>#}
</body>
</html>